<mat-toolbar color="primary">
  <h1>Pontos de Solidão</h1>
</mat-toolbar>

<mat-card style="margin: 2%">
  <div class="mat-h1" style="text-align: center">{{score}}</div>
</mat-card>


<div class="mat-h3" style="margin: 2%">
  <p>
  Sua pontuação na Escala Revisada de Solidão da UCLA é <strong>{{score}}</strong>.
  Você está no grupo de risco?
  <a href="https://www.nbcnews.com/better/pop-culture/americans-are-lonelier-ever-gen-z-may-be-loneliest-ncna873101"
    >Este artigo da NBC News BETTER</a>
  sugere que pessoas com pontuação R-UCLA de <strong>44 ou mais</strong> podem ser consideradas "oficialmente solitárias".
  </p>
  <div *ngIf="score && score >= 44; else elseBlock">
    <p>
    Como sua pontuação é de 44 ou mais, a solidão pode ser um fator de risco para você.
    Reconhecer isso é um primeiro passo no cuidado com a própria saúde.
    (Confira a palestra TEDx <a href="https://youtu.be/_0hxl03JoA0?t=16m34s">John Cacioppo, "A Letalidade da Solidão"</a>.)
    </p>
    <p>
    Por favor, não pare por aí. Entenda os riscos e os efeitos que a solidão traz. Procure ajuda.
    </p>
  </div>
  <ng-template #elseBlock>
    <p>
    Sua pontuação é de 43 ou menos.
    Existe uma boa chance de que a solidão não seja uma causa de preocupação imediata para você.
    Continue assim!
    </p>
  </ng-template>
</div>
