<mat-card style="margin: 2%" [class.fadingOut]="fadingOut" [class.fadingIn]="fadingIn">
  <div class="mat-h1" style="text-align: center">{{question}}</div>
</mat-card>

<div class="buttons">
  <button mat-raised-button
    color="primary"
    (click)="never()"
    >Nunca</button>

  <button mat-raised-button
    color="primary"
    (click)="rarely()"
    >Raramente</button>

  <button mat-raised-button
    color="primary"
    (click)="sometimes()"
    >Às vezes</button>

  <button mat-raised-button
    color="primary"
    (click)="often()"
    >Regularmente</button>
</div>
