<div class="mat-body-1" style="margin: 5px; text-align: center">
  <p>

  </p>
  <p>
  A Escala Revisada de Solidão da UCLA é amplamente usada em pesquisa científica como uma medida comprovada de solidão.

  São 20 perguntas, e o resultado é confiável.
  </p>
</div>

<div style="width: 100%; text-align: center">
  <a routerLink='r-ucla/1'>
    <button mat-raised-button style="width: 95%" color="primary">Responder o questionário</button>
  </a>
</div>
